<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-sm btn-primary" (click)="openModal()">
        Nueva tarea
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4" *ngFor="let task of tasks">
      <div class="card task mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5 class="card-title" (click)="openModal(task)">{{ task.title }}</h5>
            </div>
            <div class="col-md-4 text-end">
              <span class="badge" [ngClass]="getStatusClass(task.status)">
                {{ getStatusText(task.status) }}
              </span>
            </div>
          </div>
          <p class="card-text">{{ task.description }}</p>
          <button class="btn btn-sm btn-danger" (click)="onDelete(task.id)">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
